@media (max-width: 1023px) {
  *, *:before, *:after {
    box-sizing: border-box;
  }
  body,
  body.large,
  body.etroit {
    min-width: 100%;
  }
  #bando_identite .largeur,
  #bando_outils .largeur {
    padding-left: 140px;
    padding-right: 1em;
  }
  #bando_identite a {
    padding: 8px 3px;
  }
  #bando_outils ul.rapides li.bouton a {
    padding: 5px;
  }
  .large #conteneur, .large .largeur, .etroit #conteneur, .etroit .largeur {
    width: 100%;
  }
  .large #conteneur, .etroit #conteneur {
    margin-top: 0;
  }
  .large #page .largeur, .etroit #page .largeur {
    padding-left: 140px;
    padding-right: 1em;
  }
  .large #navigation, .large #extra, .etroit #navigation, .etroit #extra {
    width: 100%;
    min-height: 0;
  }
  .large #navigation .spip_logos, .large #extra .spip_logos, .etroit #navigation .spip_logos, .etroit #extra .spip_logos {
    max-width: 100%;
    height: auto;
  }
  .large #contenu, .etroit #contenu {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  #bando_navigation {
    border-right: 1px solid silver;
    width: 120px;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  #bando_navigation ul.deroulant {
    display: list-item;
  }
  #bando_navigation ul.deroulant > li {
    min-width: 100%;
    height: 90px;
  }
  #bando_navigation ul.deroulant li.actif ul,
  #bando_navigation ul.deroulant li.actif_tempo ul {
    left: 120px;
    top: -90px;
    position: relative;
  }
  #bando_outils li.boussole a#boutonbandeautoutsite {
    padding: 5px;
  }
  #bando_outils ul.collaborer {
    margin-right: 5px;
  }
  #bando_outils #rapides .formulaire_recherche {
    margin: 0;
    padding: 6px;
  }
  #bando_outils #rapides .formulaire_recherche .image {
    display: none;
  }
}

@media (max-width: 1023px) {
  .liste-objets table td,
  .liste-objets table th,
  .liste-objets table thead th {
    padding: 9px;
  }
  .liste-objets table thead th {
    font-size: 1.2em;
  }
  .liste-objets tr > .statut,
  .liste-objets tr > .picto {
    width: 24px;
  }
  .liste-objets .pagination,
  .liste-objets p.pagination {
    padding: 0.75em 0.375em;
  }
  .liste-objets .pagination .lien_pagination, .liste-objets .pagination .on {
    padding: 8px;
  }
  .liste-objets .pagination .sep {
    font-size: .9em;
  }
}
ation .sep {
    font-size: .9em;
  }
}